* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.container .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: 0.5px;
}

.container .header .logo {
  width: 70px;
  height: 80px;
}

.container .header .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.container .header .search_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.container .header .search_box input {
  width: 100%;
  border-radius: 15px;
  height: 30px;
  padding-left: 10px;
  color: black;
}

.container .header .icons {
  display: flex;
  justify-content: center;
  position: relative;
}

.container .header .icons .produc_num {
  top: -6px;
  right: -6px;
  position: absolute;
  color: black;
}

.container .header .icons img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
  object-fit: contain;
}

.container .navbar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  background-color: #021526;
  /* background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%); */
}

.container .navbar a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  margin: 10px 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container .category {
  display: flex;
  justify-content: start;
  overflow-x: auto;
  padding: 10px;
  -webkit-overflow-scrolling: touch;
}

.container .category button {
  flex: 0 0 auto;
  min-width: 110px;
  text-align: center;
  cursor: pointer;
  padding: 10px 10px;
  background-color: #f6f4d2;
  color: black;
  border: none;
  border-radius: 4px;
  margin-left: 30px;
  font-family: "Maven Pro", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.container .category button:hover {
  background-color: #0056b3;
  color: black;
}

.container .slider_box {
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.container .slider_box img {
  width: 100%;
  display: block;
  transition: opacity 0.5s ease;
  -o-object-fit: contain;
  object-fit: contain;
}

.container .slider_box .controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.container .slider_box .controls i {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: black;
  font-size: 20px;
}

.container .slider_box .controls i:hover {
  background-color: rgb(255, 255, 255);
}

.container .product-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.container .product-container .product {
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
}

.container .product-container .product:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.container .product-container .product .product_img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.container .product-container .product .product_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: contain;
}

.container .product-container .product .product_name {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container .product-container .product .product_name h2 {
  font-size: 20px;
  color: #333;
  margin: 10px 0;
  text-align: center;
  width: 100%;
  height: 20px;
}

.container .product-container .product .product_description h4 {
  display: none;
}

.container .product-container .product .product_info p {
  font-size: 17px;
  color: #666;
  margin: 5px 0;
  text-align: center;
  height: 30px;
}

.container .product-container .product .add-to-cart {
  /* background-color: #44688a; */
  /* background-color: #005b99; */
  /* background-color: #323431; */
  color: black;
  border: none;
  border-radius: 4px;
  padding: 5px 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  margin: 5px;
  text-align: end;
}

.addBox {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

h6 {
  font-weight: 200;
  font-size: 13px;
}

.container .product-container .product .add-to-cart:hover {
  font-size: 1.2em;
}

.container .basket_card_box {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #d8d6d7;
  background-color: #d8d6d7;
  border-radius: 8px;
  position: absolute;
  width: 90%;
  height: 100vh;
  top: -17px;
  right: 0;
  display: none;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  animation: basketBox 2s ease forwards;
  z-index: 1;
  overflow: hidden;
  /* Animation properties like duration, timing function, and fill mode */
}

@keyframes basketBox {
  from {
    transform: translateX(100%);
    /* Correct use of translateX */
  }

  to {
    transform: translateX(0);
    /* Correct use of translateX */
  }
}

.container .basket_card_box i {
  width: 100%;
  padding: 10px;
  text-align: end;
  font-size: 20px;
  background-color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: 5px 0;
}

.container .basket_card_box .product_box {
  width: 100%;
  height: 70%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  background-color: white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: 5px 0;
  position: relative;
}

.container .basket_card_box .product_box div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(179, 176, 176);
}

.container .basket_card_box .product_box div h4 {
  color: black;
  font-weight: 200;
  padding: 5px;
  font-size: 14px;
  width: 100%;
}

.container .basket_card_box .product_box div i {
  color: red;
  border-radius: 0;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
}

.container .basket_card_box .card_pen {
  position: absolute;
  top: 10%;
  right: -40%;
  width: 100%;
  height: 320px;
  -o-object-fit: contain;
  object-fit: contain;
  overflow: hidden;
}

.container .footer {
  width: 100%;
  background-color: #021526;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 35px;
  padding: 10px 5px;
}

.container .footer iframe {
  width: 80%;
  height: 200px;
}

.container .footer .footer_info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 5px;
}

.container .footer .footer_info span {
  margin: 5px;
  color: white;
  font-size: 16px;
}

.container .mb_footer {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px 15px;
  /* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply; */
  /* background-color: #1E201E; */
  background-color: #021526;
  position: fixed;
  bottom: 0;
  left: 0;
  /* border-top: 1px solid white; */
  z-index: 1;
  border-radius: 3px;

}

.container .mb_footer img {
  width: 33px;
  height: 33px;
  object-fit: cover;

}

/* .container .mb_footer section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
} */

/* .container .mb_footer section i {
  top: -180px;
  font-size: 25px;
  color: white;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 50px;
  font-weight: 500;
} */

.container .menu_box {
  display: none;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  animation: menuBox 2s ease forwards;
  overflow: hidden;
  /* Animation properties like duration, timing function, and fill mode */
}

.container .menu_box .cancel_mb {
  display: flex;
  justify-content: end;
  width: 100%;
}

.container .menu_box .cancel_mb i {
  width: 100%;
  text-align: end;
  padding: 5px;
  background-color: #021526;
  /* background-color: #323431; */
  color: white;
  font-size: 20px;
}

@keyframes menuBox {
  from {
    transform: translateX(-100%);
    /* Correct use of translateX */
  }

  to {
    transform: translateX(0);
    /* Correct use of translateX */
  }
}



.icon-box {
  display: flex;
  /* Her zaman görünür kalacak */
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 50px;
  right: -10px;
  padding: 20px;
}

#toggleButton {
  /* position: fixed;
  bottom: 50px;
  right: 10px; */
  /* padding: 15px; */
  border: none;
  /* background-color: green; */
  /* border-radius: 50px; */
  background-color: #323431;
}

#toggleButton i {
  font-size: 20px;
  color: white;
}

.icon {
  font-size: 25px;
  margin: 5px 10px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  padding: 5px 7px;
  border-radius: 50px;
  border: 0.5px solid black;
  background-color: white;

}

.icon:nth-child(1) {
  color: black;
  font-weight: bolder;
}

.icon:nth-child(2) {
  color: black;
  font-weight: bolder;
}

.icon:nth-child(3) {
  color: black;
  font-weight: bolder;
  font-size: 20px;
  padding: 5px 5px;


}

.icon:nth-child(4) {
  font-size: 20px;
  font-weight: bolder;
  padding: 5px 5px;

}

.icon.show {
  opacity: 1;
  transform: translateY(0);
  /* İkonlar açıldığında yukarıdan aşağıya hareket eder */
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  /* height: 200px; Slider yüksekliği */
  /* background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
  background-color: white;
}

.slider-wrapper {
  display: flex;
  animation: scroll 30s linear infinite;
  /* Otomatik kaydırma */
}

.slide {
  min-width: 30%;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 5px 0;
  margin-top: 10px;
}

.slide img {
  width: 100%;
  height: 85px;
  /* Resim boyutu */
  object-fit: contain;
}

.caption {
  /* position: absolute;
  bottom: 20px; */
  /* background-color: rgba(0, 0, 0, 0.7); */
  color: #676767;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  16.66% {
    transform: translateX(0);
  }

  33.33% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%);
  }

  66.66% {
    transform: translateX(-200%);
  }

  83.33% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(-300%);
  }
}

.search_result {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 300px;
  /* Sonuç bölümünün yüksekliğini sınırlamak için */
  overflow-y: auto;
  /* Taşan içeriği kaydırmak için */
  /* border: 1px solid red; Kenarlık */
  border-radius: 5px;
  /* Kenarları yuvarlatmak için */
  background-color: #ffffff;
  /* Beyaz arka plan */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Hafif bir gölge efekti */
  margin-top: 5px;
  /* Giriş alanı ile arama sonuçları arasında boşluk */
}

.search_result h4 {
  color: black;
  /* Koyu gri yazı rengi */
  padding: 5px;
  /* İçerik ile kenar arasına boşluk */
  margin: 0;
  /* Varsayılan marjı kaldırıyoruz */
  text-align: center;
  /* Metni sola yasla */
  cursor: pointer;
  /* Tıklanabilir olduğunu belirtmek için imleci el şekline çevir */
  transition: background-color 0.2s ease;
  border-bottom: 1px solid grey;
  /* Arka plan renginin geçiş süresi */
}

.search_result h4:hover {
  background-color: #f0f0f0;
  /* Hover geçiş efekti */
}

.search_result h4:active {
  background-color: #e0e0e0;
  /* Tıklanıldığında daha belirgin bir arka plan rengi */
}

#sendWhatsAppButton {
  background-color: #218838;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;

}

@media (max-width: 768px) {
  .container .header {
    padding: 10px 0;
  }

  .container .header .logo {
    width: 60px;
    height: 60px;
  }

  .container .header .logo img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }

  .container .header .search_box {
    width: 65%;
  }

  .container .header .search_box input {
    height: 27px;
  }

  .container .header .icons .produc_num {
    top: -6px;
    right: -1px;
  }

  .container .header .icons img {
    height: 27px;
  }

  .container .navbar a {
    font-size: 15px;
  }

  .container .category button {
    min-width: 90px;
    margin-left: 10px;
    padding: 10px 5px;
    font-size: auto;
  }

  .container .product-container .product {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 5px;
    width: 170px;
    margin-top: 15px;
  }

  .container .product-container .product .product_name h2 {
    font-size: 14px;
  }

  .container .product-container .product .product_info p {
    font-size: 14px;
  }

  .container .basket_card_box .product_box .card_pen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .slide img {
    width: 100%;
    height: 60px;
    /* Resim boyutu */
    object-fit: contain;
  }

  .caption {
    color: #676767;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
  }

  .container .mb_footer {
    display: flex;
  }
}